.border {
  border: 1px solid black;
}

/* BODY CSS */
section {
  display: flex;
  flex-direction: row;
}

nav {
  padding-right: 10px;
  background-color: rgb(201, 199, 199);
}

nav>ul {
  text-align: center;
  text-decoration: none;
  color: black;
}

footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}




